<!-- 广告投放 -->
<section id="ad-platforms" class="navs-section">
    <div class="category-card">
        <div class="category-card-head">
            <h2>
                <span>广告投放</span> <small>广告投放后台与工具</small>
            </h2>
        </div>
        <div class="category-card-body">
            <div class="category-grid">
                <a class="category-item" href="https://www.oceanengine.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/Udq131nl3WNR5WcGsc0tzWdi4PtgNGkc.png" alt="巨量引擎">
                    </div>
                    <div class="category-item-info">
                        <h3>巨量引擎</h3>
                        <p>抖音所有类型广告</p>
                    </div>
                </a>
                <a class="category-item" href="https://qianchuan.jinritemai.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/pCSGVLn53WNR5WcEsc0tfVkpAiXgBFct.png" alt="巨量千川">
                    </div>
                    <div class="category-item-info">
                        <h3>巨量千川</h3>
                        <p>抖音广告投放平台</p>
                    </div>
                </a>
                <a class="category-item" href="https://e.kuaishou.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/kvO4P0n63WNR5WcDsc0tNPkSTvbqijze.png" alt="磁力引擎">
                    </div>
                    <div class="category-item-info">
                        <h3>磁力引擎</h3>
                        <p>快手开屏、信息流、粉条</p>
                    </div>
                </a>
                <a class="category-item" href="https://ad.e.kuaishou.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/Co4EtUnP3WNR5WcEsc0t8lUq9FBnFWFG.png" alt="磁力智投">
                    </div>
                    <div class="category-item-info">
                        <h3>磁力智投</h3>
                        <p>快手广告投放平台</p>
                    </div>
                </a>
                <a class="category-item" href="https://ad.xiaohongshu.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/HdPvbbnA3WNR5WdAsc0tTfFy7GBWTbmo.png" alt="聚光平台">
                    </div>
                    <div class="category-item-info">
                        <h3>聚光平台</h3>
                        <p>小红书广告投放平台</p>
                    </div>
                </a>
                <a class="category-item" href="https://zgzt.v-ma.com/#/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/l4UMaWnG3WNR5WcAsc0tLDl83NMiQUjd.png" alt="诸葛智投">
                    </div>
                    <div class="category-item-info">
                        <h3>诸葛智投</h3>
                        <p>视频号投放管理工具</p>
                    </div>
                </a>
                <a class="category-item" href="http://www.xiaohuolong.com" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/UAeoz1nd3WNR5WcAsc0tHphBuDp9S3F1.png" alt="小火龙">
                    </div>
                    <div class="category-item-info">
                        <h3>小火龙</h3>
                        <p>抖音随心推投放工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://zs.doulaoban.com/login" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/XxkAXKnj3WNR5WcDsc0taSOsqo9YxZMw.png" alt="抖老板带货助手">
                    </div>
                    <div class="category-item-info">
                        <h3>抖老板带货助手</h3>
                        <p>多平台数据管理</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 