<!-- 平面设计 -->
<section id="design-tools" class="navs-section">
    <div class="category-card">
        <div class="category-card-head">
            <h2>
                <span>平面设计</span> <small>平面设计软件</small>
            </h2>
        </div>
        <div class="category-card-body">
            <div class="category-grid">
                <a class="category-item" href="https://www.gaoding.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/8AfNExnX3WNR5WcAsc0uaHZf0l9GQ9f3.png" alt="稿定">
                    </div>
                    <div class="category-item-info">
                        <h3>稿定</h3>
                        <p>在线制图</p>
                    </div>
                </a>
                <a class="category-item" href="https://www.chuangkit.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/5ix2cZnQ3WNR5WcEsc0tlG2aNWAe3oSb.png" alt="创客贴">
                    </div>
                    <div class="category-item-info">
                        <h3>创客贴</h3>
                        <p>在线制图</p>
                    </div>
                </a>
                <a class="category-item" href="https://huaban.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/J6jreqnq3WNR5WcDsc0tckKizuIgM3CX.png" alt="花瓣网">
                    </div>
                    <div class="category-item-info">
                        <h3>花瓣网</h3>
                        <p>图片素材</p>
                    </div>
                </a>
                <a class="category-item" href="https://picwish.cn/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/cdbp1rnL3WNR5WcDsc0tf6siZbTlrlRn.png" alt="佐糖-AI在线抠图">
                    </div>
                    <div class="category-item-info">
                        <h3>佐糖-AI在线抠图</h3>
                        <p>AI在线抠图</p>
                    </div>
                </a>
                <a class="category-item" href="https://www.fotor.com.cn/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/Zltuuun13WNR5WcEsc0t1Y0f9TjxyYEh.png" alt="懒设计">
                    </div>
                    <div class="category-item-info">
                        <h3>懒设计</h3>
                        <p>在线设计网站</p>
                    </div>
                </a>
                <a class="category-item" href="https://colordrop.io/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/NpWhJ9n83WNR5WcEsc0t8ggdjeLOtKzN.png" alt="配色网站">
                    </div>
                    <div class="category-item-info">
                        <h3>配色网站</h3>
                        <p>配色网站</p>
                    </div>
                </a>
                <a class="category-item" href="https://color.adobe.com/zh/create/color-wheel" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/TqCEGLnO3WNR5WcCsc0t4zvj5XbQlbBN.png" alt="adobe色卡">
                    </div>
                    <div class="category-item-info">
                        <h3>adobe色卡</h3>
                        <p>adobe色卡</p>
                    </div>
                </a>
                <a class="category-item" href="https://bytedance.feishu.cn/docx/OqlYd1X3goVp5ZxhZd0c7NnPnzc" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/jzURTpnJ3WNR5WcCsc0tKRmPYS1TvwV0.png" alt="商品卡主图模板">
                    </div>
                    <div class="category-item-info">
                        <h3>商品卡主图模板</h3>
                        <p>商品卡主图模板</p>
                    </div>
                </a>
                <a class="category-item" href="https://www.iconfont.cn/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/UnjRvkn13WNR5WdBsc0tA2Qtv6sMDZOD.png" alt="图标下载">
                    </div>
                    <div class="category-item-info">
                        <h3>图标下载</h3>
                        <p>图标下载</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 