<!-- 直播软件 -->
<section id="live-software" class="navs-section">
    <div class="category-card">
        <div class="category-card-head">
            <h2>
                <span>直播软件</span> <small>各大平台直播软件</small>
            </h2>
        </div>
        <div class="category-card-body">
            <div class="category-grid">
                <a class="category-item" href="https://fbjvryq00y.feishu.cn/drive/folder/K7zIfP4IOlI5PxdberKcNgqOnCc?from=from_copylink" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/0bkSDrnz3WNR5WdGsc0tZVuOLCq4eMHL.png" alt="直播中控工具">
                    </div>
                    <div class="category-item-info">
                        <h3>驼铃直播中控工具</h3>
                        <p>自动弹窗、自动发言等</p>
                    </div>
                </a>
                <a class="category-item" href="https://streamingtool.douyin.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/jUvSchne3WNR5WcAsc0tfCPfAlKNRXEM.png" alt="抖音直播伴侣">
                    </div>
                    <div class="category-item-info">
                        <h3>抖音直播伴侣</h3>
                        <p>抖音、火山官方直播工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://live.kuaishou.com/live-partner" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/6gzjv3nL3WNR5WcCsc0tVR4fYD2xXChk.png" alt="快手直播伴侣">
                    </div>
                    <div class="category-item-info">
                        <h3>快手直播伴侣</h3>
                        <p>快手平台直播软件</p>
                    </div>
                </a>
                <a class="category-item" href="https://www.xiaohongshu.com/zhibo/robs" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/FDs7uUnX3WNR5WcEsc0qX0D3DnUmq5kH.png" alt="小红书直播助手">
                    </div>
                    <div class="category-item-info">
                        <h3>小红书直播助手</h3>
                        <p>小红书电脑直播助手</p>
                    </div>
                </a>
                <a class="category-item" href="https://obsproject.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/oVlnsjn53WNR5WdAsc0tK1WlfBft5mPD.png" alt="OBS">
                    </div>
                    <div class="category-item-info">
                        <h3>OBS</h3>
                        <p>多平台直播推流工具</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 