<!-- 店铺入驻 -->
<section id="shop-entry" class="navs-section">
    <div class="category-card">
        <div class="category-card-head">
            <h2>
                <span>店铺入驻</span> <small>各大平台店铺入驻</small>
            </h2>
        </div>
        <div class="category-card-body">
            <div class="category-grid">
                <a class="category-item" href="https://fxg.jinritemai.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/b9K62gnP3WNR5WdDsc0tTQXXu9n4QU7c.png" alt="抖音小店">
                    </div>
                    <div class="category-item-info">
                        <h3>抖音小店</h3>
                        <p>抖音小店申请入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://channels.weixin.qq.com/shop" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/rgPy6Nnp3WNR5WcFsc0tQLgJi9viAMaa.png" alt="视频号小店">
                    </div>
                    <div class="category-item-info">
                        <h3>视频号小店</h3>
                        <p>腾讯视频号小店入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://www.kwaixiaodian.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/2GL5qgnp3WNR5WdFsc0tJQldjEBsDUYT.png" alt="快手小店">
                    </div>
                    <div class="category-item-info">
                        <h3>快手小店</h3>
                        <p>快手小店入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://ark.xiaohongshu.com/merchant/login" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/FDs7uUnX3WNR5WcEsc0qX0D3DnUmq5kH.png" alt="小红书店铺">
                    </div>
                    <div class="category-item-info">
                        <h3>小红书店铺</h3>
                        <p>小红书商家入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://zhaoshang.tmall.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/5Xox5PnZ3WNR5WdGsc0txYXjFT9ro1yS.png" alt="天猫入驻">
                    </div>
                    <div class="category-item-info">
                        <h3>天猫入驻</h3>
                        <p>天猫入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://zhaoshang.jd.com/index/home" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/2EtN4AnQ3WNR5WdBsc0tyQlpXwnkoR0Y.png" alt="京东入驻">
                    </div>
                    <div class="category-item-info">
                        <h3>京东入驻</h3>
                        <p>京东入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://ims.pinduoduo.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/g8twjOnl3WNR5WfEsc0tw6XXcGXya4Wq.png" alt="拼多多入驻">
                    </div>
                    <div class="category-item-info">
                        <h3>拼多多入驻</h3>
                        <p>拼多多入驻</p>
                    </div>
                </a>
                <a class="category-item" href="https://ishop.taobao.com/openshop/tb_open_shop_landing.htm#/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/CK7hicnr3WNR5WfFsc0tUMkdeV0ppLHH.png" alt="淘宝入驻">
                    </div>
                    <div class="category-item-info">
                        <h3>淘宝入驻</h3>
                        <p>淘宝店铺入驻</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 