<!-- 导航部分开始 -->
<section id="shop-software" class="navs-section">
    <div class="category-card">
        <div class="category-card-head">
            <h2>
                <span>店铺软件</span> <small>各大平台店铺客户端</small>
            </h2>
        </div>
        <div class="category-card-body">
            <div class="category-grid">
                <a class="category-item" href="https://im.jinritemai.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/b9K62gnP3WNR5WdDsc0tTQXXu9n4QU7c.png" alt="飞鸽工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>抖店</h3>
                        <p>抖音商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://loginmyseller.taobao.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/N32EhWnX3WNR5WcIsc0tDGciEvaoSmmz.png" alt="淘宝商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>千牛</h3>
                        <p>淘宝商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://login.kwaixiaodian.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/8Rd3Q3nu3WNR5WcIsc0qRhSV4hba84Yq.png" alt="快手商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>快手</h3>
                        <p>快手商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://passport.shop.jd.com/login/index.action/jdm" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/wgcsFJn13WNR5WcHsc0tFtQbcDGUTJrJ.png" alt="京东商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>京麦</h3>
                        <p>京东商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://store.weixin.qq.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/rgPy6Nnp3WNR5WcFsc0tQLgJi9viAMaa.png" alt="视频号商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>视频号</h3>
                        <p>视频号商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://customer.xiaohongshu.com/login?service=https://ark.xiaohongshu.com/app-system/home" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/lMOMlznL3WNR5WdEsc0tNFEufOpAoep5.png" alt="快手商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>千帆</h3>
                        <p>小红书商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://mms.pinduoduo.com/login/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/vGWqfcnr3WNR5WfAsc0tSu3BZXAOlAXv.png" alt="快手商家工作台">
                    </div>
                    <div class="category-item-info">
                        <h3>拼多多</h3>
                        <p>拼多多商家工具</p>
                    </div>
                </a>
                <a class="category-item" href="https://e.douyin.com/" target="_blank">
                    <div class="category-item-icon">
                        <img src="https://www.nodeimage.com/i/32451/Pb0EDPnj3WNR5WcDsc0thgzOesUKxi1i.png" alt="抖音企业号">
                    </div>
                    <div class="category-item-info">
                        <h3>抖音企业号</h3>
                        <p>抖音企业号数据管理</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> 